{% extends "WebMainBundle::layout.html.twig" %}

{% block body %}
<div class="hero-unit" style="height:20px">
	<div style="margin-top:-40px">
		<h2>
			{{ link.name }}
			<span class="label label-warning">
				<h3 style="text-align:center; padding:0;margin:0;">
					{{ link.clicks}}
				</h3> 
				clicks
			</span>
		</h2>
		<a href="{{ link.originalURL }}">
			{{ link.originalURL }}
		</a>
		>
		<a href="{{ link.shortenedURL }}">
			{{ link.shortenedURL }}
		</a>
	</div>

	<ul class="info-ref">
		{% for ref in referer %}
			<li class="infoPieRef" data-name="{{ ref.websiteUrl }}" data-nombre="{{ ref.total }}">
				
			</li>
		{% endfor %}
		{% for cou in country %}
			<li class="infoPieCou" data-name="{{ cou.name }}" data-nombre="{{ cou.total }}">
				
			</li>
		{% endfor %}		
	</ul>

	<div class="row">
		<div class="span5">
			<div class="page-header center">
				<h3>Referer</h3>
			</div>
			<div id="referer">
			</div>
		</div>
		<div class="span5">
			<div class="page-header center">
				<h3>Country</h3>
			</div>
			<div id="country">
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
		var myData = new Array();
		var colorsList = ['#FACC00', '#FB9900', '#FB6600', '#FB4800', '#CB0A0A', '#F8F933'];

		var colors = new Array();
		$("li.infoPieRef").each(function(index) {
			myData.push([$(this).data("name"), $(this).data("nombre")]);
			colors.push(colorsList[index]);
		});

		var myChart = new JSChart('referer', 'pie');
		myChart.setDataArray(myData);
		myChart.colorizePie(colors);
		myChart.setPiePosition(308, 170);
		myChart.setPieRadius(95);
		myChart.setPieUnitsFontSize(8);
		myChart.setPieUnitsColor('#474747');
		myChart.setPieValuesColor('#474747');
		myChart.setPieValuesOffset(-10);
		myChart.setTitleColor('#fff');
		myChart.setSize(416, 321);
		myChart.draw();

		var myData = new Array();
		var colors = new Array();
		$("li.infoPieCou").each(function(index) {
			myData.push([$(this).data("name"), $(this).data("nombre")]);
			colors.push(colorsList[index]);
		});
		var myChart = new JSChart('country', 'pie');
		myChart.setDataArray(myData);
		myChart.colorizePie(colors);
		myChart.setPiePosition(308, 170);
		myChart.setPieRadius(95);
		myChart.setPieUnitsFontSize(8);
		myChart.setPieUnitsColor('#474747');
		myChart.setPieValuesColor('#474747');
		myChart.setPieValuesOffset(-10);
		myChart.setTitleColor('#fff');
		myChart.setSize(416, 321);
		myChart.draw();
	});
	</script>
</div>
{% endblock %}